html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "Cousine", monospace;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #6E5C62;
}

a {
  color: gold;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

#title {
  flex-grow: 0;
  font-size: 40px;
  line-height: 80px;
  color: #fff;
  font-weight: bold;
}

#keyboard {
  width: 100%;
  flex-grow: 0;
}

.keyboard_row {
  display: flex;
  justify-content: center;
}

.keyboard_cell {
  text-align: center;
  width: 8%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #4C4347;
  color: #fff;
  margin: 3px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.keyboard_cell:focus {
  outline: none !important;
  box-shadow: none !important;
}

.keyboard_cell.clicked {
  background-color: gold;
}

.keyboard_cell_double {
  width: 16% !important;
}

#grid {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 10px;
}

.grid_row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: 0 10px;
}

.grid_cell {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 5px solid #4C4347;
  border-radius: 5px;
  font-size: 30px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

.transparent {
  background-color: transparent;
}

.black {
  background-color: #312A2C;
  border-color: #312A2C;
}

.yellow {
  background-color: #B59F3B;
  border-color: #B59F3B;
}

.green {
  background-color: #538D4E;
  border-color: #538D4E;
}

.caret {
  background-color: #bbb3b6;
}

.caret.yellow {
  background-color: #ddcf8f !important;
}

.caret.green {
  background-color: #8fc78a !important;
}

#actions {
  width: 100%;
  max-width: 500px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

#flags {
  display: flex;
  margin-left: 10px;
}

.language {
  border: 3px solid #4C4347;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.language.selected {
  background-color: #4C4347;
}

#buttons {
  display: flex;
}

#search, #clear {
  border: 3px solid #4C4347;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4C4347;
  color: #fff;
  margin-right: 10px;
}

#search.disabled, #clear.disabled {
  border-color: #4C4347;
  background-color: transparent;
  color: #B7AEB4;
}

#popup {
  position: absolute;
  top: 15px;
  left: 15px;
  width: calc(100% - 60px);
  height: calc(100% - 60px);
  padding: 15px;
  background-color: #4C4347;
  border-radius: 10px;
  border: 3px solid #B7AEB4;
  color: #fff;
  display: none;
  flex-direction: column;
  z-index: 2;
}

#popup_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 0;
  font-size: 20px;
}

#popup_bottom {
  flex-grow: 1;
  margin-top: 20px;
  font-size: 15px;
  overflow-y: scroll;
}

#close_popup {
  background-color: #B7AEB4;
  color: #4C4347;
  line-height: 15px;
  width: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

#popup_title span {
  display: none;
}

#words {
  margin-top: 20px;
}

#words span {
  float: left;
  margin-right: 20px;
}

#helper_link {
  position: absolute; 
  top: 15px;
  right: 15px;
  background-color: #B7AEB4;
  color: #4C4347;
  line-height: 15px;
  width: 15px;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

#helper_content {
  line-height: 1.5;
}

.common_letters {
  color: rgb(183, 183, 253);
}

.repeated_letters {
  color: rgb(226, 156, 156);
}

.uncommon_letters {
  color: rgb(209, 141, 236);
}

.most_points {
  color: khaki;
}
